* {
    box-sizing: border-box;
}

body {
    background-color: #F6F5F5;
}

.container {
    width: 360px;
    margin: 100px;
    border-radius: 20px;
    background-color: #FFF;
    padding: 56px 20px 91px 20px;
}
button{
    border: none;
    background-color: FFF;
    margin-bottom: 23px;
}
h1{
    font-weight: 600;
    font-size: 32px;
}
